// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); // import Raleway font
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,600,700); // import Lato font
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  font-family: Lato;
  font-weight: 400;
}

a {
  color: #3B8686;
}

a:hover {
  color: #79BD9A;
}

.vdp-datepicker__calendar {
  position: absolute;
  z-index: 100;
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
}

body {
  padding-top: 65px;
  padding-bottom: 10px;
  background: url("../background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 40.0rem) {
  .container {
    width: 650px;
  }
}

// change opacity
.navbar-default {
  background: rgba(248, 248, 248, 0.9);
}

.panel-default {
  background: rgba(248, 248, 248, 0.9);
}

.panel>.panel-heading, .panel>.panel-footer {
  background-color: rgba(255, 255, 255, 0.4);
  color: #0B486B;
}

// my green button
.my-btn {
  color: #FFFFFF;
  background-color: #79BD9A;
  border-color: #53826A;
}

.my-btn:hover, .my-btn:focus, .my-btn:active, .my-btn.active, .open .dropdown-toggle.my-btn {
  color: #FFFFFF;
  background-color: #6FAB8C;
  border-color: #53826A;
}

.my-btn:active, .my-btn.active, .open .dropdown-toggle.my-btn {
  background-image: none;
}

.my-btn.disabled, .my-btn[disabled], fieldset[disabled] .my-btn, .my-btn.disabled:hover, .my-btn[disabled]:hover, fieldset[disabled] .my-btn:hover, .my-btn.disabled:focus, .my-btn[disabled]:focus, fieldset[disabled] .my-btn:focus, .my-btn.disabled:active, .my-btn[disabled]:active, fieldset[disabled] .my-btn:active, .my-btn.disabled.active, .my-btn[disabled].active, fieldset[disabled] .my-btn.active {
  background-color: #79BD9A;
  border-color: #53826A;
}

.my-btn .badge {
  color: #79BD9A;
  background-color: #FFFFFF;
}

// my darker green button
.my-green-button { 
  color: #FFFFFF; 
  background-color: #0B486B; 
  border-color: #204F6B; 
} 
 
.my-green-button:hover, 
.my-green-button:focus, 
.my-green-button:active, 
.my-green-button.active, 
.open .dropdown-toggle.my-green-button { 
  color: #FFFFFF; 
  background-color: #0B5F8F; 
  border-color: #204F6B; 
} 
 
.my-green-button:active, 
.my-green-button.active, 
.open .dropdown-toggle.my-green-button { 
  background-image: none; 
} 
 
.my-green-button.disabled, 
.my-green-button[disabled], 
fieldset[disabled] .my-green-button, 
.my-green-button.disabled:hover, 
.my-green-button[disabled]:hover, 
fieldset[disabled] .my-green-button:hover, 
.my-green-button.disabled:focus, 
.my-green-button[disabled]:focus, 
fieldset[disabled] .my-green-button:focus, 
.my-green-button.disabled:active, 
.my-green-button[disabled]:active, 
fieldset[disabled] .my-green-button:active, 
.my-green-button.disabled.active, 
.my-green-button[disabled].active, 
fieldset[disabled] .my-green-button.active { 
  background-color: #0B486B; 
  border-color: #204F6B; 
} 
 
.my-green-button .badge { 
  color: #0B486B; 
  background-color: #FFFFFF; 
}